<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/static/Chart.bundle.js"></script>
    <script src="/static/jquery-3.3.1.min.js"></script>
  </head>
  <body>

    <div style="width: 400px; float: left;">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div style="width: 500px; float: left; margin-top: 100px;">
      <form id="the_form">


      <input type="text" name="first_text" id="first_text">
      <input type="text" name="second_text" id="second_text">
      <input type="checkbox" name="checker" id="checker">
      <button type="button" id="submitter" name="button">Submit!</button>
      </form>
    </div>

    <div style="width: 100%; float: left; padding-left: 100px;">
      <button type="button" name="button" id="left_button" disabled><</button>
      Row: <span id="row_id_placeholder">{{row_id}}</span>
      <button type="button" name="button" id="right_button">></button>
    </div>



<script>
var ctx = document.getElementById("myChart").getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Dataset',
            data: [{
                x: -10,
                y: 0
            }, {
                x: 0,
                y: 10
            }, {
                x: 10,
                y: 5
            }]
        }]
    },
    options: {

        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 10
            }}],
            xAxes: [{
              ticks: {
                min: 0,
                max: 10
              },
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});


window.row = {{row_id}};

$(function() {


  function fetch_data(direction) {
      window.row += direction
      console.log(window.row)
      if (window.row > 1) {
          $('#left_button').prop('disabled', false);
      } else {
        $('#left_button').prop('disabled', true);
      }
      $('#row_id_placeholder').html(window.row)

      $.getJSON('/next_row/' + window.row ).then(function(response) {
          chart.data.datasets[0].data = response.data
          chart.update();
      });
  }

    fetch_data(1)

    $('#right_button').on('click', function() {
        fetch_data(1)
    })

    $('#left_button').on('click', function() {
        fetch_data(-1)
    })


    $('#submitter').on('click', function() {
      $('#submitter').prop('disabled', true);
      $.ajax({
            url: '/save_values/' + window.row,
            data: $('#the_form').serialize(),
            type: 'POST',
            success: function(response) {
                $('#submitter').prop('disabled', false);
                $('#the_form')[0].reset()
                fetch_data(1)
            },
            error: function(error) {
                console.log(error);
            }
        });


    })
})
</script>
  </body>
</html>
